<h4>Paragraphs</h4>
{% for para in paragraphs %}
    <h5 class="text-danger type" data-toggle="collapse"
        data-target="#{{ para["id"] }}">{{ para["label"] }}</h5>
<div class="collapse {{ collapse }}" id="{{ para["id"] }}">

        <table class="table">
            <tr>
                <td class="font-weight-bold">Machine name:</td>
                <td>{{ para["label"] }}</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Description:</td>
                <td>{{ para["description"] }}</td>
            </tr>
        </table>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Type</th>
                <th>Desc</th>
            </tr>
            </thead>
            <tbody>
            {% for f in para.fields %}
                {% if f.field_name not in ignore %}
                    <tr>
                        <td>{{ f.label }}</td>
                        <td>{{ f.field_name }}</td>
<td>{{ f.field_type }}</td>



                        <td class="{{ '.' in f.description ? '' : 'text-danger ' }} {{ f.description|split(' ')|length < 2 ? 'text-danger' : '' }}{{ ' url' in f.description ? ' text-danger ' : ' ' }}">{{ f.description }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
